    body{
      margin:0;
      padding:25px;
      background-color: #188ae2;
      font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: white;
      line-height: 1.428571429;
      font-size: 13px;
    }

    .text-center{
      text-align: center;
    }

    h1{
      position:absolute;
      left:40px;
    }
    .body{
      background-color: white;
      width: 600px;
      height: 220px;
      padding: 15px;
      color:#6a6c6f !important;
      border-radius: 10px;
      position:absolute;
      top:100px
    }

    .footer{
      position:absolute;
      top:340px;
      left: 520px;
      font-size:15px;
      font-weight: 800px !important;
    }
    .logo{
      position: absolute;
      left:260px;
      top:30px;
    }
