<!-- SE REQUIERE EN CADA VISTA -->
<div class="page-bar route-title">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Condominio</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Vehículos</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Registrar</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">

        </div>
    </div>
</div>
<div class="" style="margin-top:30px">
</div>
<div class="row">
    <div class="col-md-12">
        <!-- SE REQUIERE EN CADA VISTA -->
        <!-- CONTENIDO EMPIEZA AQUI-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-haze">
                    <i class="fa fa-car font-green-haze"></i>
                    <span class="caption-subject bold uppercase">{{title}}</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" ng-submit="actionButton()">
                    <div class="form-body">
                        <div class="col-md-6">

                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input ng-model="house_number" type="text" class="form-control" id="form_control_1">
                                <label for="form_control_1">Número de casa</label>
                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input ng-model="extension" type="text" class="form-control" id="form_control_1">
                                <label for="form_control_1">Extensión</label>
                            </div>

                        </div>
                        <div class="form-actions noborder">
                            <h3 class="text-right">
                                      <button type="submit" class="btn blue">{{button}}</button>
                            <button type="button" class="btn default">Cancelar</button>
                          </h3>
                        </div>
                </form>
                </div>
            </div>
  <script src="../../assets/global/scripts/jscolor.js"></script>
