<div class="page-bar route-title">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-user"></i>
            <a>Mi perfil</a>
        </li>

    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right"> </div>
    </div>
</div>
<div class="loading col-lg-12 col-md-12 col-sm-12 col-xs-12" id="loadingIcon">
    <h1 class="text-center">
        <img src="../../assets/global/img/loader4.gif" alt="" />

    </h1>
</div>
<div class="display-none" id="edit_resident_form">
    <div class="row">
        <div class="col-md-12">
            <form ng-submit="actionButton()">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-green-haze">
                            <i class="fa fa-user font-green-haze"></i>
                            <span class="caption-subject bold uppercase">Editar perfil</span>
                        </div>
                        <div class="actions">
                            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                        </div>
                    </div>
                    <div class="portlet-body form">

                        <h3 class="text-center"><img id="blah" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="your image" width="170px" height="170px" class="img-circle"/></h3>
                        <h3 class="text-center"><label for="imgInp"  class="btn default btn-file fileinput-new gray-font">Subir imagen (opcional)</label></h3>
                        <input type='file' id="imgInp" />
                        <div class="col-md-6 col-sm-6 marging-top-20">
                            <div class="form-group form-md-line-input">
                                <input ng-model="name" type="text" class="form-control letters gray-font letters" required>
                                <label for="form_control_1" class="font-15">Nombre</label>
                            </div>
                            <div class="form-group form-md-line-input">
                                <input ng-model="last_name" type="text" class="form-control letters gray-font letters" required>
                                <label for="form_control_1" class="font-15">Primer Apellido</label>
                            </div>
                            <div class="form-group form-md-line-input">
                                <input ng-model="second_last_name" type="text" class="form-control letters gray-font letters" required>
                                <label for="form_control_1" class="font-15">Segundo Apellido</label>
                            </div>

                        </div>

                        <div class="col-md-6 col-sm-6  marging-top-20">
                            <div class="form-group form-md-line-input">
                                <input ng-model="identification_number" type="text" class="form-control numbers gray-font numbers" required>
                                <label for="form_control_1" class="font-15">Número de cédula</label>
                            </div>
                            <div class="form-group form-md-line-input ">
                                <input ng-model="email" type="email" class="form-control gray-font" placeholder="" id="form_control_1" required>
                                <label for="form_control_1" class="font-15">Correo electrónico</label>
                                <span class="help-block">Si cambia el correo electronico, al guardar los cambios se cerrará sesión.</span>
                            </div>

                        </div>
                        <div class="height-12-percent col-md-6 col-sm-6 hidden-xs"></div>
                        <div class="form-actions noborder ">
                            <h3 class="text-right ">
                            <button type="submit" class="btn blue"><i class="fa fa-pencil "></i> Editar</button>
                            <button type="button" ui-sref="residents()" class="btn red default">Cancelar</button>
                          </h3>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
