<div class="page-bar route-title">
  <ul class="page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a href="index.html">Home</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a href="#">Page Layouts</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a href="#">Blank Page</a>
    </li>
  </ul>
  <div class="page-toolbar">
    <div class="btn-group pull-right">

    </div>
  </div>
</div>
<div class="" style="margin-top:40px">
</div>
<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
Blank Page <small>blank page</small>
</h3>

<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
  <div class="col-md-12">

     <h1>Aqui va todo lo lindo</h1>
  </div>
</div>
