<!-- SE REQUIERE EN CADA VISTA -->
<div class="page-bar route-title">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Condominio</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Vehículos</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="">{{title}}</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">

        </div>
    </div>
</div>
<div class="loading col-lg-12 col-md-12 col-sm-12 col-xs-12" id="loadingIcon">
    <h1 class="text-center">
        <img src="../../assets/global/img/loader4.gif" alt="" />

    </h1>
</div>
<div class="display-none" id="register_edit_form">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-haze">
                        <i class="fa fa-car font-green-haze"></i>
                        <span class="caption-subject bold uppercase">{{title}}</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form role="form" ng-submit="actionButton()">
                        <div class="form-body">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input">
                                    <input ng-model="license_plate" type="text" class="form-control specialCharacters gray-font" id="form_control_1" style='text-transform:uppercase' required>
                                    <label for="form_control_1" class="font-15">Número de placa</label>
                                    <span class="help-block">Escriba el número de placa sin guiones</span>


                                </div>
                                <div class="form-group form-md-line-input has-info">
                                    <select id="pruebisiima" class="form-control gray-font" data-ng-model="brand" ng-options="brand.name for brand in brands.data | orderBy: 'name' track by brand.name" required>
                                        <option value="">Seleccione una marca</option>
                                    </select>
                                    <label for="form_control_1" class="font-15">Marca</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input has-info">
                                    <select class="form-control gray-font" data-ng-model="house" ng-options="house.house_number for house in houses | orderBy: 'id' track by house.id" required>
                                    <option value="">Seleccione una casa</option>
                              </select>
                                    <label for="form_control_1" class="font-15">Número de casa</label>
                                </div>
                                <div class="form-group form-md-line-input has-info color-pickerr">
                                    <label class="font-15 light-gray-font no-margin">Color del vehículo</label>
                                    <div style="background-color:{{color}}" class="input-group color colorpicker-default col-lg-12" data-color="#ffff" data-color-format="rgba">
                                        <input ng-model="color" ng-show="false" type="text" class="form-control" value="#ffff" readonly>
                                        <span class="input-group-btn">
                              <button ng-blur="submitColor()" class="btn default form-control no-padding" type="button"><i id="color" style="background-color: #ffff;"></i>&nbsp;</button>
                              </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions noborder">
                                <h3 class="text-right">
                            <button type="submit" class="btn blue"><i class="fa fa-pencil" ng-show="button=='Editar'"></i> {{button}}</button>
                            <button type="button" ui-sref="vehicules()"  class="btn red default">Cancelar</button>
                          </h3>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../assets/global/scripts/jscolor.js"></script>
<script>
    jQuery(document).ready(function() {
        $("#loadingIcon").fadeIn("slow");
        ComponentsPickers.init();
    });
</script>
