<div class="page-bar route-title">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a>Reportar</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a>Visitante</a>

        </li>

    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right"> </div>
    </div>
</div>
<div class="row display-none" id="all">
    <div class="col-md-12">
        <form ng-submit="actionButton()">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-haze">
                        <i class="fa fa-user font-green-haze"></i>
                        <span class="caption-subject bold uppercase">Reportar visitante</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="col-md-6 col-sm-6 marging-top-20">
                        <div class="form-group form-md-line-input">
                            <input ng-model="identification_number" ng-change="findVisitor()" type="text" class="form-control numbers gray-font" id="form_control_1" required>
                            <label for="form_control_1" class="font-15">Número de cédula</label>
                        </div>
                        <div class="form-group form-md-line-input">
                            <input ng-model="name" type="text" style="text-transform: capitalize" class="form-control letters gray-font" id="form_control_1" required>
                            <label for="form_control_1" class="font-15">Nombre</label>
                        </div>
                        <div class="form-group form-md-line-input">
                            <input ng-model="last_name" type="text" style="text-transform: capitalize" class="form-control letters gray-font" id="form_control_1">
                            <label for="form_control_1" class="font-15">Primer Apellido</label>
                        </div>

                    </div>

                    <div class="col-md-6 col-sm-6  marging-top-20">
                        <div class="form-group form-md-line-input">
                            <input ng-model="second_last_name" style="text-transform: capitalize" type="text" class="form-control letters gray-font" id="form_control_1" required>
                            <label for="form_control_1" class="font-15">Segundo Apellido</label>
                        </div>

                        <div class="form-group form-md-line-input">
                            <input ng-model="license_plate" type="text" style="text-transform:uppercase" class="form-control specialCharacters gray-font" id="form_control_1">
                            <label for="form_control_1" class="font-15">Número de placa (opcional)</label>
                        </div>

                        <div class="date-picker input-daterange" data-date="10/11/2012" data-date-format="dd-mm-yyyy" data-date-language="es">

                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6  no-padding">
                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12  no-padding">
                                    <div class="form-group form-md-line-input">
                                        <input ng-model="initial_date" type="text" class="form-control text-center numbers gray-font dating" name="from" required>
                                        <label for="form_control_1" class="font-15">Fecha incial:</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 no-padding">
                                    <div class="form-group form-md-line-input">
                                        <input ng-model="final_date" type="text" class="form-control text-center numbers gray-font dating" name="to" required>
                                        <label for="form_control_1" class="font-15">Fecha final:</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 no-padding">
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12  no-padding">
                                <div class="form-group form-md-line-input">
                                    <input type="text" ng-model="initial_hour" class="form-control text-center timepicker timepicker-no-seconds" required>
                                    <label for="form_control_1" class="font-15">Hora inicial:</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 no-padding">
                                <div class="form-group form-md-line-input">
                                    <input type="text" ng-model="final_hour" class="form-control text-center timepicker timepicker-no-seconds" required>
                                    <label for="form_control_1" class="font-15">Hora final:</label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions noborder">
                        <h3 class="text-right">
                        <button type="submit" class="btn blue"><i class="fa fa-pencil"></i> Reportar</button>
                        <button type="button" ui-sref="condominos()" class=" btn btn-danger">Cancelar</button>
                      </h3>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(function() {
        $("#all").fadeIn("slow");
        $('.timepicker').keydown(function() {
            return false;
        });
        $('.dating').keydown(function() {
            return false;
        });
        setTimeout(function() {
            ComponentsPickers.init();
        }, 100);
    });
</script>
