<!-- SE REQUIERE EN CADA VISTA -->
<div class="page-bar route-title">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a>Condominio</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a>Visitantes</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a>Consultar</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <h3 class="page-title col-md-4 col-lg-4 col-xs-12 col-sm-12 no-list">{{title}}
          <div ng-show="isConsulting==true">
            <h4>{{titleConsult}}</h4>
          </div>
        </h3>
        <div class=" col-md-8 col-lg-8 col-sm-12 col-xs-12 no-padding">
            <div class="date-picker input-daterange" data-date="10/11/2012" data-date-format="dd-mm-yyyy" data-date-language="es">
                <div class="col-lg-12 col-lg-4 col-md-4 col-sm-4 col-xs-12 no-padding gray-font">
                    <input ng-model="consulting_initial_time" type="text" placeholder="Desde la fecha" class="form-control text-center numbers gray-font dating" name="from">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 no-padding">
                    <input ng-model="consulting_final_time" type="text" placeholder="Hasta la fecha" class="form-control text-center numbers gray-font dating" name="to">
                </div>
                <button ng-disabled="isDisableButton()" ng-click="consultVisitors()" class="btn green col-md-2 col-sm-2 col-xs-12  small-margin-bottom">Consultar</button>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" ng-show="isConsulting==true">
                    <button type="button" class="btn col-xs-12" ng-click="stopConsulting()" name="button">Limpiar</button>
                </div>
            </div>
        </div>
        <div class="loading col-lg-12 col-md-12 col-sm-12 col-xs-12" id="loadingIcon">
            <h1 class="text-center">
              <img src="../../assets/global/img/loader4.gif" alt="" />

            </h1>
        </div>
        <div class="display-none" id="prueba">
            <div class="form-group col-md-offset-9 col-md-3 col-sm-3 col-xs-5" id="index-search-bar">
                <div class="input-icon">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control" placeholder="Buscar visitante" ng-model="search">
                </div>
            </div>
            <div class="portlet-body ">

                <div class="table-scrollable ">
                    <div ng-show="visitors.length == 0">
                        <h4 class="text-center">No se encontró ningún visitante</h4>
                    </div>
                    <table class="table table-striped table-hover font-12" ng-show="visitors.length > 0">
                        <thead>
                            <tr>
                                <th>Nombre completo</th>
                                <th>Cédula</th>
                                <th>Número de placa</th>
                                <th>Fecha y Hora</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="visitor in visitors | filter:search | orderBy:'name'">
                                <td>{{visitor.name}} {{visitor.last_name}} {{visitor.second_last_name}}</td>
                                <td>{{visitor.identification_number}}</td>
                                <td>{{visitor.license_plate}}</td>
                                <td>{{visitor.date_time}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function() {
        $("#loadingIcon").fadeIn("slow");
        $(function() {
            $('.dating').keydown(function() {
                return false;
            });
            setTimeout(function() {
                ComponentsPickers.init();
            }, 100);
        });
    });
</script>
