<head>
    <link href="../../assets/global/css/components-md.css" id="style_components" rel="stylesheet" type="text/css" />
</head>


<div class="page-bar route-title">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Condominio</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Oficiales</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Consultar</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">

        </div>
    </div>
</div>

<div class="row ">
    <div class="col-md-12 ">
        <h3 class="page-title col-md-10">	Mis vehículos </h3>
        <div class="col-md-12 ">
            <div class="col-md-4">
                <div class="portlet light bordered   text-center  col-sm-12 col-xs-12 ">
                    <h1 class="col-lg-6 text-center"><i class=" text-center fa fa-car font-60 " style="color: gray;" aria-hidden="true"></i> </h1>
                    <div class="col-lg-6 no-padding">
                        <h3 class="no-padding ">Toyota</h3>
                        <h5>Marca</h5>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="no-padding no-margin">BCL-448</h3>
                        <h5>Placa</h5>
                    </div>
                    <div class="col-lg-6 small-margin-top">
                        <button type="submit" class="btn blue"><i class="fa fa-pencil "></i></button>
                        <button type="submit" class="btn red"><i class="fa fa-trash "></i></button>
                    </div>

                </div>
            </div>



        </div>

    </div>
</div>
