<div class="page-bar route-title">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a>Administrar</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a>Claves de seguridad</a>

        </li>

    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right"> </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form ng-submit="actionButton()">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-haze">
                        <i class="fa fa-user font-green-haze"></i>
                        <span class="caption-subject bold uppercase">Claves de seguridad</span>

                    </div>

                </div>

                <div class="portlet-body form ">

                    <p class="font-15 gray-font">
                        Las claves de seguridad son utilizadas para determinar tu identidad en los siguientes casos:
                    </p>
                    <p class="font-15 gray-font">
                        * Debe tomar en cuenta que las claves deben ser legibles para el oficial o el administrador
                    </p>
                    <p class="font-15 gray-font">
                        * Las claves no deben de contener caracteres especiales
                    </p>
                    <div class="loading col-lg-12 col-md-12 col-sm-12 col-xs-12" id="loadingIcon">
                        <h1 class="text-center">  <img src="../../assets/global/img/loader4.gif" alt="" />    </h1>
                    </div>
                    <div class="height-6-percent col-md-12 col-sm-12 "></div>

                    <div class="display-none" id="register_edit_form">
                        <div class="form-group col-md-6 col-sm-6 col-xs-12 gray-font">
                            <label for="form_control_1" class="font-15 ">Clave de seguridad</label>
                            <div class="input-group">
                                <span class="input-group-addon ">
                                <i class="fa fa-key"></i>
                                </span>
                                <input type="text" class="form-control gray-font font-15 input_id " ng-model="securityKey" placeholder="Clave de seguridad" required>
                            </div>
                        </div>

                        <div class="form-group col-md-6 col-sm-6 col-xs-12 gray-font">
                            <label for="form_control_1" class="font-15 specialCharacters">Clave de emergencia</label>
                            <div class="input-group">

                                <span class="input-group-addon ">
                              <i class="fa fa-ambulance"></i>
                            </span>

                                <input type="text" class="form-control gray-font specialCharacters font-15 input_id " ng-model="emergencyKey" placeholder="Clave de emergencia" required>
                            </div>
                        </div>
                        <div class="form-actions noborder">
                            <h3 class="text-right">
                        <button type="submit" class="btn blue"><i class="fa fa-pencil"></i> Establecer</button>
                        <button type="button" ui-sref="condominos()" class="btn red default">Cancelar</button>
                      </h3>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
<script>
    jQuery(document).ready(function() {
        $("#loadingIcon").fadeIn("slow");
    });
</script>
