<div class="blue-background">
<h2 class="text-center no-margin big-padding-top"><img src="assets/images/logo.png" alt="" height="60px"/></h2>
    <h2 class="text-center"> Skill Matrix</h2>
   <div class="absolute-center is-responsive"  id="login-form">
     <form ng-submit="updatePassword(changePasswordForm)" role="form" ng-init="changePasswordForm = {}" name="login">
        <h4 class="text-center">Change your password</h4>
            <input type="password" name="password" placeholder="Password" value="" class="login-input text-center" ng-model="changePasswordForm.password">
            <input type="password" name="password" placeholder="Password Confirmation" value="" class="login-input text-center" ng-model="changePasswordForm.password_confirmation">
            <button type="submit" name="name" id="login-button" >Change your password</button>
     </form>
   </div>
</div>
