<div class="blue-background">
<h2 class="text-center no-margin big-padding-top"><img src="assets/images/logo.png" alt="" height="60px"/></h2>
    <h2 class="text-center"> Skill Matrix</h2>
   <div class="absolute-center is-responsive"  id="login-form">
     <form ng-submit="requestPasswordReset(passwordResetForm)" role="form" ng-init="passwordResetForm  = {}">
        <h4 class="text-center">Forgot your password?</h4>
            <input type="email" name="email" placeholder="Email" value="" class="login-input text-center" ng-model="passwordResetForm.email">
            <button type="submit" name="name" id="login-button" >Request password reset</button>
     </form>
   </div>
</div>
